---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2024",
    title: "Cofundador",
    company: "AldeaT",
    description: "Cofundador de AldeaT, empresa de desarrollo de software.",
  },
  {
    date: "2022 - Actualmente...",
    title: "Mentor y desarrollador de software",
    company: "DakotaLab",
    description:
      "Encabezo y ense침o los cursos de programaci칩n, enfocados a la formaci칩n STEM de la organizaci칩n; python, C/C++ y JavaScript.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
